pipeline/PL Send Email Notification.json
{
	"name": "PL Send Email Notification",
	"properties": {
		"activities": [
			{
				"name": "ACT Send Email On Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set URL variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('logicAppURL')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"EmailTo\": \"@{pipeline().parameters.EmailTo}\",\n\t\"Subject\": \"@{pipeline().parameters.Subject} \",\n\t\"PipelineName\": \"@{pipeline().parameters.PipelineName}\",\n    \"ErrorMessage\":\"@{pipeline().parameters.ErrorMessage}\",\n\t\"Activity\": \"@{pipeline().parameters.Activity}\",\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set URL variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "retrieveURL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "logicAppURL",
					"value": {
						"value": "@activity('retrieveURL').output.firstRow.StringValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "retrieveURL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select StringValue from template_Settings where SettingKey = 'webemail_url'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsURL",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "anurudha.kumarkundu@datacom.com.au"
			},
			"Activity": {
				"type": "string",
				"defaultValue": "TestActivity"
			},
			"ErrorMessage": {
				"type": "string",
				"defaultValue": "TestErrorMessage"
			},
			"PipelineName": {
				"type": "string",
				"defaultValue": "Test"
			},
			"Subject": {
				"type": "string",
				"defaultValue": "Test Subject"
			}
		},
		"variables": {
			"logicAppURL": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-08-04T06:20:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}