pipeline/pl_DF_template_api_call.json
{
	"name": "pl_DF_template_api_call",
	"properties": {
		"activities": [
			{
				"name": "login",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/9c5c3150-dad7-45ac-a8b8-892a48cff618/oauth2/token",
					"method": "POST",
					"headers": {
						"cache-control": "no-cache",
						"content-type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=086a1c94-9e5f-44a8-a2d3-068ac6b116ec&client_secret=0W7ti_ci-pPJlGF@yT.75uv6]0D2.T[u&resource=https://tmrcrm-dev.azurewebsites.net",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set TokenValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "accesss_Token",
					"value": {
						"value": "@activity('login').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "login_copy1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/login",
					"method": "POST",
					"headers": {
						"cache-control": "no-cache",
						"content-type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "{\n    \"email\": \"eve.holt@reqres.in\",\n    \"password\": \"cityslicka\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set TokenValue_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "login_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "accesss_Token_postman",
					"value": {
						"value": "@activity('login_copy1').output.token",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"baseurl": {
				"type": "string",
				"defaultValue": "https://tmrcrm-dev.azurewebsites.net/api/trips/v1.0/import"
			},
			"NotificationEmails": {
				"type": "string",
				"defaultValue": "Anurudha.kumarkundu@datacom.com.au"
			},
			"TripFilename": {
				"type": "string",
				"defaultValue": "NA"
			},
			"batchSize": {
				"type": "string",
				"defaultValue": "200"
			}
		},
		"variables": {
			"accesss_Token": {
				"type": "String",
				"defaultValue": "NA"
			},
			"PageArray": {
				"type": "Array"
			},
			"curfilename": {
				"type": "String"
			},
			"weblogin_body": {
				"type": "String",
				"defaultValue": "abc"
			},
			"accesss_Token_postman": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-08-10T00:28:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}