pipeline/pl_DF_template_InsertCRM_Trips.json
{
	"name": "pl_DF_template_InsertCRM_Trips",
	"properties": {
		"activities": [
			{
				"name": "login",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set login body",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/9c5c3150-dad7-45ac-a8b8-892a48cff618/oauth2/token",
					"method": "POST",
					"headers": {
						"cache-control": "no-cache",
						"content-type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@variables('weblogin_body')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set TokenValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "accesss_Token",
					"value": {
						"value": "@activity('login').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PL Send Trip insert error notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEachPage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL Send Email Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": {
							"value": "@pipeline().parameters.NotificationEmails",
							"type": "Expression"
						},
						"Activity": "Insert Trip Data",
						"ErrorMessage": {
							"value": "Trip data import api returened an error. One of the batches has failed.",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Subject": {
							"value": "Trip CRM data insert error ",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Pages",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set TokenValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Interfaces].[uspGetTripBatches]",
						"storedProcedureParameters": {
							"batchSize": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.batchSize",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsPageList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachPage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "pageArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('PageArray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "InsertTrips",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "TripsBatch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@pipeline().parameters.baseurl",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ',  variables('accesss_Token'))",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@string(activity('TripsBatch').output.firstRow.JsonContent)",
									"type": "Expression"
								},
								"linkedServices": [
									{
										"referenceName": "tmrwebapi",
										"type": "LinkedServiceReference"
									}
								]
							}
						},
						{
							"name": "TripsBatch",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[Interfaces].[uspGetTripsBatchForCRMInsert]",
									"storedProcedureParameters": {
										"page": {
											"type": "Int32",
											"value": {
												"value": "@item().PageId",
												"type": "Expression"
											}
										},
										"size": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.batchSize",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlTable_TripInsert",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "pageArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PageArray",
					"value": {
						"value": "@activity('Pages').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PL Send trip insert success email",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEachPage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL Send Email Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": {
							"value": "@pipeline().parameters.NotificationEmails",
							"type": "Expression"
						},
						"Activity": "Insert Trip Data",
						"ErrorMessage": {
							"value": "CRM Trip data inserts completed successfully",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Subject": {
							"value": "Datafactory Process notification, Trips data import completed ",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Current FileName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "curfilename",
					"value": {
						"value": "@pipeline().parameters.TripFilename",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set login body",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "retrieveloginbody",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "weblogin_body",
					"value": {
						"value": "@activity('retrieveloginbody').output.firstRow.StringValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "retrieveloginbody",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Current FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select StringValue from template_Settings where SettingKey = 'weblogin_body'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsPageList",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"baseurl": {
				"type": "string",
				"defaultValue": "https://tmrcrm-dev.azurewebsites.net/api/trips/v1.0/import"
			},
			"NotificationEmails": {
				"type": "string",
				"defaultValue": "Anurudha.kumarkundu@datacom.com.au"
			},
			"TripFilename": {
				"type": "string",
				"defaultValue": "NA"
			},
			"batchSize": {
				"type": "string",
				"defaultValue": "200"
			}
		},
		"variables": {
			"accesss_Token": {
				"type": "String",
				"defaultValue": "NA"
			},
			"PageArray": {
				"type": "Array"
			},
			"curfilename": {
				"type": "String"
			},
			"weblogin_body": {
				"type": "String",
				"defaultValue": "abc"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-08-04T06:17:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}